{% extends "base.html" %}
{% block content %}

<div class="page-header">
    <h1>About</h1>
</div>

<div>
    <p class="lead">The Association of Long Island Homebrew Clubs is an association made up of homebrew clubs on Long Island.</p>
    <p>Current members include:</p>
    
    <div class="media">
        <div class="media-left">
            <a href="about/beer">
                <img class="media-object" src="/static/images/beer_logo.png" alt="" style="width:64px;" />
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Brewers East End Revival (BEER)</h4>
            Brewers East End Revival, or BEER for short, is made up of &hellip;<br />
            <a href="about/beer" class="small">read more</a>
        </div>
    </div>
    
    <div class="media">
        <div class="media-left">
            <a href="about/hhcbc">
                <img class="media-object" src="/static/images/hhcbc_logo.png" alt="" style="width:64px;" />
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Handgrenades Homebrew and Craft Beer Club (HHCBC)</h4>
            Handgrenades Homebrew and Craft Beer Club, or HHCBC for short, is made up of &hellip;<br />
            <a href="about/hhcbc" class="small">read more</a>
        </div>
    </div>
    
    <div class="media">
        <div class="media-left">
            <a href="about/libme">
                <img class="media-object" src="/static/images/libme_logo.jpg" alt="" style="width:64px;" />
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Long Island Beer and Malt Enthusiasts (LIBME)</h4>
            Long Island Beer and Malt Enthusiasts, or LIBME for short, is made up of &hellip;<br />
            <a href="about/libme" class="small">read more</a>
        </div>
    </div>
</div>

{% block mediajs %}

{% endblock mediajs %}

{% endblock content %}