{% extends "base.html" %}
{% block content %}

<div class="page-header">
    <h1>About &raquo; Brewers East End Revival</h1>
</div>

<div>
    <p class="lead">BEER was formed in the backseat of the devil's car and gestated in a trash can in a back alley in Tijuana. Once you get to know them, you'll understand.</p>
</div>

<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <a href="http://beerhbc.org/" target="_blank" title="BEER Home Page">
            <img src="/static/images/beer_logo.png" class="img-responsive center-block" />
        </a>
    </div>
</div>

{% block mediajs %}

{% endblock mediajs %}

{% endblock content %}