{% extends "base.html" %}
{% block content %}

<div class="page-header">
    <h1>About &raquo; Brewers East End Revival</h1>
</div>

<div>
    <p class="lead">Brewers East End Revival Homebrew Club was established in 1996, and is a registered club of the American Homebrewers Association. We now have over 80 members, who run the gamut from beer enthusiast to all-grain brewers and BJCP judges.</p>
</div>

<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <a href="{{ links['home'] }}" target="_blank" title="BEER Home Page">
            <img src="/static/images/beer_logo.png" class="img-responsive center-block" />
        </a>
    </div>
</div>

{% block mediajs %}

{% endblock mediajs %}

{% endblock content %}