{% extends "base.html" %}
{% block content %}

<div class="page-header">
    <h1>About &raquo; Long Island Beer and Malt Enthusiasts</h1>
</div>

<div>
    <p class="lead">Our mission is to spread our knowledge and enthusiasm of craft beer, homebrewing and malt enjoyment with others. LIBME, a proud member of the American Homebrewers Association, regularly holds educational events such as tastings, style studies, talks with local breweries and brewing clinics. We also hold club socials, beer dinners and participate in local craft beer festivals. Come join us at 7:30 pm on the first Wednesday of every month to exchange information, tips and opinions about the best craft beers, places to enjoy them, and to share our love for all things beer & malt.</p>
</div>

<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <a href="{{ links['home'] }}" target="_blank" title="LIBME Home Page">
            <img src="/static/images/libme_logo.jpg" class="img-responsive center-block" />
        </a>
    </div>
</div>

{% block mediajs %}

{% endblock mediajs %}

{% endblock content %}