{% extends "base.html" %}
{% block content %}

<div class="page-header">
    <h1>About &raquo; Handgrenades Homebrew and Craft Beer Club</h1>
</div>

<div>
    <p class="lead">We are a Nassau County, NY based group and meet on the third Tuesday of each month at various craft beer bars, restaurants, and breweries.</p>
</div>

<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <a href="{{ links['home'] }}" target="_blank" title="HHCBC home page">
            <img src="/static/images/hhcbc_logo.png" class="img-responsive center-block" />
        </a>
    </div>
</div>

{% block mediajs %}

{% endblock mediajs %}

{% endblock content %}